{{#partial "content"}}

    <div class="container mt-5 px-5">
        <div class="d-flex justify-content-between">
            <div class="px-5">
                <img src="hiring.png" alt="">
            </div>
            <div>
                <p class="display-6 fw-bold">Right Patner for Matters Hiring</p>
                <p>Hiring is one of the fastest paths to removing headaches off your plate.<br> Enter
                    Tech Connect, a company that focuses on sourcing and hiring out technical talent
                    for companies so that they can forcus more on the core business activities.
                    Our team is thoroughly vetted and we can promise it is reliable and high-quality
                    talent you can count on.
                </p>
                <div class="d-flex">
                    <div>
                        <ul>
                            <li>Easy to Customer Services</li>
                            <li>Thoroughly Vetted talent</li>
                            <li>Good Quality Products Services</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>World Class talent</li>
                            <li>Brand Diversity</li>
                            <li>Excellent Reviews</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container my-5 border p-3">
        <div class="text-center">
            <h5 style="color:#0075;">Numbers Are Talking</h5>
            <p class="display-6 fw-bold">Let’s Check Our Business Growth<br>
                and Success Story</p>
            <p>For many entrepreneurs, this type of guarantee is enough to choose the startup for all their developer needs.
                The fact that the startup develops a team to tackle your project—without you doing any of the organizing—is
                a nice feature. Here are some of our highlights</p>
            <div class="d-flex justify-content-around my-5">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                         class="bi bi-ui-checks" viewBox="0 0 20 20">
                        <path
                                d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708l-2 2zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708l-2 2zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    <h4 style="color:#0075;">600+</h4>
                    <h4>Delivered Products</h4>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                         class="bi bi-activity" viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                              d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                    </svg>
                    <h4 style="color:#0075;">245+</h4>
                    <h4>It Consulting</h4>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                         class="bi bi-window-stack" viewBox="0 0 20 20">
                        <path
                                d="M4.5 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM6 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" />
                        <path
                                d="M12 1a2 2 0 0 1 2 2 2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2 2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10ZM2 12V5a2 2 0 0 1 2-2h9a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1Zm1-4v5a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V8H3Zm12-1V5a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v2h12Z" />
                    </svg>
                    <h4 style="color:#0075;">350+</h4>
                    <h4>Launched </h4>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                         class="bi bi-segmented-nav" viewBox="0 0 20 20">
                        <path
                                d="M0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6zm6 3h4V5H6v4zm9-1V6a1 1 0 0 0-1-1h-3v4h3a1 1 0 0 0 1-1z" />
                    </svg>
                    <div class="ps-4">
                        <h4 style="color:#0075;">1000+</h4>
                        <h4>Projects Completed</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 mb-5 p-5 text-white" style="background-color:#000075;">
        <p class="lead display-6 text-center fw-bold">Our clients and employees are generally happy
            for working
            with us</p>
        <div class="container py-3">
            <div class="d-flex justify-content-around px-5 mt-4" id="profile">
                <img src="Vector.png" alt="partner company Hooli">
                <img src="Vector1.png" alt="partner company Lyft">
                <img src="Vector2.png" alt="partner company Piper">
                <img src="Vector3.png" alt="partner company Stripe">
                <img src="Vector4.png" alt="partner company AWS">
                <img src="Vector5.png" alt="partner company ">
            </div>
        </div>
    </div>

    <style>
        #profile img {
                width: 5vw;
                height: 4vw;
        }
    </style>
{{/partial}}

{{> layout.hbs}}