{{#partial "content"}}
    <div class="container my-3" id="nav">
        <nav class="navbar navbar-expand-lg bg-white">
<!--            <div>-->
<!--                <a class="navbar-brand" href="#">-->
<!--                    <img class="d-inline-block align-top" width="30" height="30" src="images/logo.png" alt="logo">-->
<!--                    <span class="fw-bold" style="color: #000075;">Tech connect</span>-->
<!--                </a>-->
<!--            </div>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav container col-md-4">
                    <a class="nav-item nav-link active" href="/">HOME</a>
                    <a class="nav-item nav-link" href="/about">ABOUT</a>
                    <a class="nav-item nav-link" href="/services">SERVICES</a>
                    <a class="nav-item nav-link" href="/contacts">CONTACT</a>
                </div>
            </div>
        </nav>
    </div>
    <pre>
        <br>
    </pre>
<div class="container mt-5">
    <h2 class="fw-bold">Client Details</h2>
    <form action="" method="post">
        <div class="mb-3 mt-3">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="mb-3 mt-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="mb-3 mt-3">
            <label for="contact">Contact:</label>
            <input type="text" class="form-control" id="contact" placeholder="Enter contact" name="contact">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    <pre>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </pre>

<style>
         #nav{
           position: fixed;
           top:0;
           width:100%;
           z-index: 1;
           }
         #footer{
           bottom: 0;
           left:0;
           width:100%;
          }
         .fw-bold{
           font-family: 'Acme', sans-serif;
          }
</style>
{{/partial}}

{{> layout.hbs}}

