<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Link to fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- CSS only include Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap Icon Include -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <!--Css link-->
    <link rel="stylesheet" href="/css/app1.css">
    <!-- Tab Icon -->
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <!-- Tab title -->
    <title>Tech Connect</title>
</head>

<body
        style="background: linear-gradient( rgba(0, 0, 117, 0.5),rgba(0, 0, 117, 0.5)  ), url('images/indexbackground.jpg'); background-repeat: no-repeat; background-size: cover;"
        height="100%">
<div class="container">
    <div class="mt-5">
        <a class="navbar-brand" href="#">
            <img class="d-inline-block align-top" width="100" height="100" src="images/logo.png" alt="logo">
            <span style="font-family: 'Acme', sans-serif; font-size: 50px; color: white;">Tech connect</span>
        </a>
    </div>
</div>
<pre>
    <br>
    <br>
    <br>
    <br>
</pre>
<div class="m-5">
    <h1 style="font-family: 'Acme', sans-serif; font-size: 100px; color: white;">Connecting ideas with <br>Professionals</h1>
</div>
<div>
    <h4 id="let-subtitle">Let Tech Connect Transform Your Idea Into Functional Code</h4>
</div>
<pre>
    <br>
</pre>
<div class="container">
    <div class="m-5">
        <a href="/about">
            <button type="button" class="btn btn-outline-light btn-lg px-5 py-2 rounded-pill" style="font-size: 30px; font-family:'Acme', sans-serif;">Get Started</button>
        </a>
    </div>
</div>
<pre>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</pre>


</body>

</html>
<!--        <div class="connect-title">-->
<!--            <h1 id="connect-title">Connecting ideas with <br>Professionals</h1><br>-->
<!--        </div>-->

<!--        <div class="let-subtitle">-->
<!--            <h4 id="let-subtitle">Let Tech Connect Transform Your Idea Into Functional Code</h4><br>-->
<!--        </div>-->

<!--        <div class="get-startedbutton">-->
<!--            <div id="spin"></div>-->
<!--            <a href="/about"><button id="get-startedbutton">Get Started</button></a>-->
<!--        </div>-->




